{% extends "base.html" %}

{% block content %}

    <h2>Welcome to the Tarot</h2>

    <p>Having trouble making a decision about the future? Here's the application for tarot that tells you a narrative story </p>

	<hr />

    <h4>chose one or three cards:</h4>

    <p><strong><a href="/oneCard">Draw One Random Card</a></strong>
    <br />a word of Story Generated For a Card</p>

    <p><strong><a href="/threeCard">Draw Three Random Cards</a></strong>
    <br />It will Generate the story in form of past, present and future</p>

{% endblock %}
